{% extends 'High5HospitalDoctorBundle:Default:base.html.twig' %}

{% block body %}
    Welcome {{ username }}!
    <ul>
        <li>
            <a href="{{ path('_welcome') }}doctor/planrdv">Plan a rendezvous</a>
        </li>
        <li>
            <a href="{{ path('_welcome') }}doctor/view/rdvplanning">View rendezvous planning</a>
        </li>
        <li>
            <a href="{{ path('_welcome') }}doctor/edit/patientfile">Edit patients files</a>
        </li>
        <li>
            <a href="{{ path('_welcome') }}doctor/logout">Logout</a>
        </li>
    </ul>
{% endblock %}